<div class="d-flex align-items-center justify-content-center mt-3 mb-3">
  <h1>Tweets</h1>
</div>

<%= render @tweets %>

<div class="d-flex align-items-center justify-content-center mt-5 mb-3">
  <% if Current.user.twitter_accounts.any? %>
    <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Connect your Twitter Account", "/auth/twitter", method: :post, class: "btn btn-primary" %>
  <% end %>
</div>